@import "tailwindcss";
@font-face {
  font-family: "LejourSerif";
  src: url("../assets/fonts//LeJourSerif.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts//Montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-lejourserif: "LejourSerif", serif;
  --font-montserrat: "Montserrat", serif;
}

@layer utilities {
  /* Chrome, Safari, Edge */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}
